.recent-history {
  width: 95%;
  margin: 2% ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.medication-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}

.history-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px; 
  padding: 14px 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08); 
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.09);
}

.icon-displayig {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.icon-cont {
  border-radius: 50%;
  background-color: #ccf5d6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.chechmark {
  font-size: 20px;
  color: #28b649;
}

.time-span {
  font-size: 15px;
  color: rgb(115, 115, 115);
}

.span1 {
  font-size: 12px;
  font-weight: 600;
  color: rgb(58, 57, 57);
  background-color: #eaf5e9;
  padding: 7px 12px;
  border-radius: 50px;
}
.date-time{
    font-weight: 500;
}
.warning{
  font-size: 22px;
  color: red;
  font-weight: bold;
}
.warining-cont{
  border-radius: 50%;
  background-color: #fcd1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.missed-span{
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(248, 72, 72);
  padding: 5px 12px;
  border-radius: 50px;
}
.tasks{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 20px;
  
}
.photo{
 font-size: 12px;
 margin-right: 5px;
 
}
.photo-head{
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 5px;
  margin-bottom: 50px;
}
.photo-container{
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.08); 
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  padding: 2px 9px;
  gap: 10px;
  
 
}